*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}


.post-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 1000px;
}
